# Using the NSI API in Python
## National Structure Inventory Examples
Author: Mark Bauer

In [1]:
import pandas as pd

# Structures Endpoint

## Structures By Bounding Box

In [2]:
root_url = "https://nsi.sec.usace.army.mil/nsiapi/"
structures = "structures?bbox="
bbox = "-81.58418,30.25165,-81.58161,30.26939,-81.55898,30.26939,-81.55281,30.24998,-81.58418,30.25165"

url = f"{root_url}{structures}{bbox}"
df = pd.read_json(url)

print(df.shape)
df.head()

(2735, 2)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...

In [3]:
df['type'].value_counts()

FeatureCollection    2735
Name: type, dtype: int64

In [4]:
df['features'].head()

0    {'type': 'Feature', 'geometry': {'type': 'Poin...
1    {'type': 'Feature', 'geometry': {'type': 'Poin...
2    {'type': 'Feature', 'geometry': {'type': 'Poin...
3    {'type': 'Feature', 'geometry': {'type': 'Poin...
4    {'type': 'Feature', 'geometry': {'type': 'Poin...
Name: features, dtype: object

In [5]:
df = pd.json_normalize(df['features'])

print(df.shape)
df.head()

(2735, 32)

,type,geometry.type,geometry.coordinates,properties.fd_id,properties.bid,properties.occtype,properties.st_damcat,properties.bldgtype,properties.found_type,properties.cbfips,...,properties.val_vehic,properties.source,properties.med_yr_blt,properties.firmzone,properties.o65disable,properties.u65disable,properties.x,properties.y,properties.ground_elv,properties.ground_elv_m
0,Feature,Point,"[-81.565174, 30.262954]",498050667,862W7C7M+5WP-0-0-0-0,RES1-1SWB,RES,W,B,120310159233002,...,27000,P,2004,None,0.26,0.05,-81.565174,30.262954,25.516170,7.777328
1,Feature,Point,"[-81.563689, 30.265468]",498054345,862W7C8P+5GM-0-0-0-0,RES1-1SNB,RES,M,S,120310159233002,...,27000,P,2004,None,0.26,0.05,-81.563689,30.265468,27.445584,8.365414
2,Feature,Point,"[-81.560112, 30.264964]",498054535,862W7C7Q+XXJ-0-0-0-0,RES1-1SNB,RES,M,C,120310159233002,...,27000,P,2004,None,0.26,0.05,-81.560112,30.264964,36.111176,11.006686
3,Feature,Point,"[-81.560855, 30.268625]",496595409,862W7C9Q+FM6-5-4-8-4,COM3,COM,C,S,120310159233000,...,126000,E,2004,None,0.26,0.05,-81.560855,30.268625,39.373875,12.001157
4,Feature,Point,"[-81.560855, 30.268625]",496595410,862W7C9Q+FM6-5-4-8-4,COM7,COM,C,S,120310159233000,...,81000,E,2004,None,0.26,0.05,-81.560855,30.268625,39.373875,12.001157

## Structures By FIPS

In [6]:
root_url = "https://nsi.sec.usace.army.mil/nsiapi/"
structures = "structures?fips="
fips = "15005"

url = f"{root_url}{structures}{fips}"
df = pd.read_json(url)

print(df.shape)
df.head()

(58, 2)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...

In [7]:
df = pd.json_normalize(df['features'])

print(df.shape)
df.head()

(58, 32)

,type,geometry.type,geometry.coordinates,properties.fd_id,properties.bid,properties.occtype,properties.st_damcat,properties.bldgtype,properties.found_type,properties.cbfips,...,properties.val_vehic,properties.source,properties.med_yr_blt,properties.firmzone,properties.o65disable,properties.u65disable,properties.x,properties.y,properties.ground_elv,properties.ground_elv_m
0,Feature,Point,"[-156.98387, 21.188934]",594360262,73H552Q8+HFC-2-2-3-3,RES5,COM,M,I,150050319001015,...,216000,X,1947,None,0.38,0,-156.983870,21.188934,59.208809,18.046844
1,Feature,Point,"[-156.980552, 21.186771]",594360224,73H552P9+PQ4-2-2-1-2,RES1-1SNB,RES,C,C,150050319001033,...,0,X,1947,None,0.38,0,-156.980552,21.186771,72.205031,22.008093
2,Feature,Point,"[-156.981951, 21.191636]",594360225,73H552R9+M63-6-7-7-6,RES1-2SNB,RES,W,I,150050319001026,...,27000,X,1947,None,0.38,0,-156.981951,21.191636,62.314834,18.993561
3,Feature,Point,"[-156.979481, 21.192303]",594360226,73H552RC+W6C-1-1-2-1,RES3C,RES,S,S,150050319001027,...,135000,X,1947,None,0.38,0,-156.979481,21.192303,65.616800,20.000000
4,Feature,Point,"[-156.979755, 21.193278]",594360227,73H552VC+839-3-4-3-4,RES5,COM,C,C,150050319001027,...,0,X,1947,None,0.38,0,-156.979755,21.193278,65.616800,20.000000

## Structures as Feature Collection by FIPS

In [8]:
root_url = "https://nsi.sec.usace.army.mil/nsiapi/"
structures = "structures?fips="
fips = 15005

url = f"{root_url}{structures}{fips}&fmt=fc"
df = pd.read_json(url)

print(df.shape)
df.head()

(58, 2)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Poin...

In [9]:
df = pd.json_normalize(df['features'])

print(df.shape)
df.head()

(58, 32)

,type,geometry.type,geometry.coordinates,properties.fd_id,properties.bid,properties.occtype,properties.st_damcat,properties.bldgtype,properties.found_type,properties.cbfips,...,properties.val_vehic,properties.source,properties.med_yr_blt,properties.firmzone,properties.o65disable,properties.u65disable,properties.x,properties.y,properties.ground_elv,properties.ground_elv_m
0,Feature,Point,"[-156.98387, 21.188934]",594360262,73H552Q8+HFC-2-2-3-3,RES5,COM,M,I,150050319001015,...,216000,X,1947,None,0.38,0,-156.983870,21.188934,59.208809,18.046844
1,Feature,Point,"[-156.980552, 21.186771]",594360224,73H552P9+PQ4-2-2-1-2,RES1-1SNB,RES,C,C,150050319001033,...,0,X,1947,None,0.38,0,-156.980552,21.186771,72.205031,22.008093
2,Feature,Point,"[-156.981951, 21.191636]",594360225,73H552R9+M63-6-7-7-6,RES1-2SNB,RES,W,I,150050319001026,...,27000,X,1947,None,0.38,0,-156.981951,21.191636,62.314834,18.993561
3,Feature,Point,"[-156.979481, 21.192303]",594360226,73H552RC+W6C-1-1-2-1,RES3C,RES,S,S,150050319001027,...,135000,X,1947,None,0.38,0,-156.979481,21.192303,65.616800,20.000000
4,Feature,Point,"[-156.979755, 21.193278]",594360227,73H552VC+839-3-4-3-4,RES5,COM,C,C,150050319001027,...,0,X,1947,None,0.38,0,-156.979755,21.193278,65.616800,20.000000

# Stats Endpoint

In [10]:
root_url = "https://nsi.sec.usace.army.mil/nsiapi/"
stats = "stats?bbox="
bbox = "-81.58418,30.25165,-81.58161,30.26939,-81.55898,30.26939,-81.55281,30.24998,-81.58418,30.25165"

url = f"{root_url}{stats}{bbox}"
df = pd.read_json(url, typ='series')

print(df.shape)
df.head()

(20,)

num_structures    2735.000000
yrbuilt_min          0.000000
yrbuilt_max       2019.000000
num_story_mean       1.216819
resunits_sum      4009.000000
dtype: float64

In [11]:
df

num_structures    2.735000e+03
yrbuilt_min       0.000000e+00
yrbuilt_max       2.019000e+03
num_story_mean    1.216819e+00
resunits_sum      4.009000e+03
empnum_sum        4.175000e+03
students_sum      0.000000e+00
sqft_mean         2.692137e+03
sqft_sum          7.362995e+06
pop2amu65_sum     6.176000e+03
pop2amo65_sum     8.940000e+02
pop2pmu65_sum     5.817000e+03
pop2pmo65_sum     1.014000e+03
val_struct_sum    8.621867e+08
val_cont_sum      6.200679e+08
val_vehic_sum     1.440990e+08
med_yr_blt_min    1.982000e+03
med_yr_blt_max    2.004000e+03
ground_elv_max    5.658639e+01
ground_elv_min    7.728296e+00
dtype: float64

In [12]:
df = (
    pd.DataFrame(df)
    .reset_index()
    .rename(columns={"index":"stat", 0:"value"})
    .round(1)
)

print(df.shape)
df

(20, 2)

              stat        value
0   num_structures       2735.0
1      yrbuilt_min          0.0
2      yrbuilt_max       2019.0
3   num_story_mean          1.2
4     resunits_sum       4009.0
5       empnum_sum       4175.0
6     students_sum          0.0
7        sqft_mean       2692.1
8         sqft_sum    7362995.4
9    pop2amu65_sum       6176.0
10   pop2amo65_sum        894.0
11   pop2pmu65_sum       5817.0
12   pop2pmo65_sum       1014.0
13  val_struct_sum  862186732.9
14    val_cont_sum  620067852.1
15   val_vehic_sum  144099000.0
16  med_yr_blt_min       1982.0
17  med_yr_blt_max       2004.0
18  ground_elv_max         56.6
19  ground_elv_min          7.7